menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.rotaçaõ-botão{
    transform: rotate(-90deg);
    transform-origin: right center;
}
.opcoes-acebilidade button{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.apresenta-lista{
    display: nome;
}
:root{
    --laranja-claro: #FF862A;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
}
.alto-contranste{
    .alto-contraste header,
    .alto-contraste footer,
    .alto contraste .formulario{
    background-color: var(--alto-constraste-fundo);
    color: var(--alto-constraste-texto);
    }
}.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}
alto-contraste #tropicalia {
    background: none;
}
.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}
